// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';

export class Uploads extends APIResource {
  /**
   * This endpoint aborts the multipart upload initiated with /create-multipart. This
   * should be used when cancelling the upload. It does not matter if parts were
   * already uploaded into the external storage provider.
   *
   * You must have the correct permissions and CORS settings configured in your
   * external provider. We support AWS S3 as the default. See:
   *
   * https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
   *
   * An external file store must be set up and `enable_direct_s3_uploads` must be set
   * to true for this endpoint to function.
   *
   * @example
   * ```ts
   * const response = await client.uploads.abortMultipart({
   *   external_upload_identifier:
   *     '84x83tmxy398t3y._Q_z8CoJYVr69bE6D7f8J6Oo0434QquLFoYdGVerWFx9X5HDEI_TP_95c34n853495x35345394.d.ghQ',
   * });
   * ```
   */
  abortMultipart(
    body: UploadAbortMultipartParams,
    options?: RequestOptions,
  ): APIPromise<UploadAbortMultipartResponse> {
    return this._client.post('/uploads/abort-multipart.json', { body, ...options });
  }

  /**
   * Multipart uploads are uploaded in chunks or parts to individual presigned URLs,
   * similar to the one generated by /generate-presigned-put. The part numbers
   * provided must be between 1 and 10000. The total number of parts will depend on
   * the chunk size in bytes that you intend to use to upload each chunk. For example
   * a 12MB file may have 2 5MB chunks and a final 2MB chunk, for part numbers 1, 2,
   * and 3.
   *
   * This endpoint will return a presigned URL for each part number provided, which
   * you can then use to send PUT requests for the binary chunk corresponding to that
   * part. When the part is uploaded, the provider should return an ETag for the
   * part, and this should be stored along with the part number, because this is
   * needed to complete the multipart upload.
   *
   * You must have the correct permissions and CORS settings configured in your
   * external provider. We support AWS S3 as the default. See:
   *
   * https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
   *
   * An external file store must be set up and `enable_direct_s3_uploads` must be set
   * to true for this endpoint to function.
   *
   * @example
   * ```ts
   * const response =
   *   await client.uploads.batchPresignMultipartParts({
   *     part_numbers: [1, 2, 3],
   *     unique_identifier:
   *       '66e86218-80d9-4bda-b4d5-2b6def968705',
   *   });
   * ```
   */
  batchPresignMultipartParts(
    body: UploadBatchPresignMultipartPartsParams,
    options?: RequestOptions,
  ): APIPromise<UploadBatchPresignMultipartPartsResponse> {
    return this._client.post('/uploads/batch-presign-multipart-parts.json', { body, ...options });
  }

  /**
   * Completes an external upload initialized with /get-presigned-put. The file will
   * be moved from its temporary location in external storage to a final destination
   * in the S3 bucket. An Upload record will also be created in the database in most
   * cases.
   *
   * If a sha1-checksum was provided in the initial request it will also be compared
   * with the uploaded file in storage to make sure the same file was uploaded. The
   * file size will be compared for the same reason.
   *
   * You must have the correct permissions and CORS settings configured in your
   * external provider. We support AWS S3 as the default. See:
   *
   * https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
   *
   * An external file store must be set up and `enable_direct_s3_uploads` must be set
   * to true for this endpoint to function.
   *
   * @example
   * ```ts
   * const response =
   *   await client.uploads.completeExternalUpload({
   *     unique_identifier:
   *       '66e86218-80d9-4bda-b4d5-2b6def968705',
   *   });
   * ```
   */
  completeExternalUpload(
    body: UploadCompleteExternalUploadParams,
    options?: RequestOptions,
  ): APIPromise<UploadCompleteExternalUploadResponse> {
    return this._client.post('/uploads/complete-external-upload.json', { body, ...options });
  }

  /**
   * Completes the multipart upload in the external store, and copies the file from
   * its temporary location to its final location in the store. All of the parts must
   * have been uploaded to the external storage provider. An Upload record will be
   * completed in most cases once the file is copied to its final location.
   *
   * You must have the correct permissions and CORS settings configured in your
   * external provider. We support AWS S3 as the default. See:
   *
   * https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
   *
   * An external file store must be set up and `enable_direct_s3_uploads` must be set
   * to true for this endpoint to function.
   *
   * @example
   * ```ts
   * const response = await client.uploads.completeMultipart({
   *   parts: [
   *     {
   *       part_number: 1,
   *       etag: '0c376dcfcc2606f4335bbc732de93344',
   *     },
   *     {
   *       part_number: 2,
   *       etag: '09ert8cfcc2606f4335bbc732de91122',
   *     },
   *   ],
   *   unique_identifier: '66e86218-80d9-4bda-b4d5-2b6def968705',
   * });
   * ```
   */
  completeMultipart(
    body: UploadCompleteMultipartParams,
    options?: RequestOptions,
  ): APIPromise<UploadCompleteMultipartResponse> {
    return this._client.post('/uploads/complete-multipart.json', { body, ...options });
  }

  /**
   * Creates a multipart upload in the external storage provider, storing a temporary
   * reference to the external upload similar to /get-presigned-put.
   *
   * You must have the correct permissions and CORS settings configured in your
   * external provider. We support AWS S3 as the default. See:
   *
   * https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
   *
   * An external file store must be set up and `enable_direct_s3_uploads` must be set
   * to true for this endpoint to function.
   *
   * @example
   * ```ts
   * const response = await client.uploads.createMultipart({
   *   file_name: 'IMG_2021.jpeg',
   *   file_size: 4096,
   *   upload_type: 'avatar',
   * });
   * ```
   */
  createMultipart(
    body: UploadCreateMultipartParams,
    options?: RequestOptions,
  ): APIPromise<UploadCreateMultipartResponse> {
    return this._client.post('/uploads/create-multipart.json', { body, ...options });
  }

  /**
   * Direct external uploads bypass the usual method of creating uploads via the POST
   * /uploads route, and upload directly to an external provider, which by default is
   * S3. This route begins the process, and will return a unique identifier for the
   * external upload as well as a presigned URL which is where the file binary blob
   * should be uploaded to.
   *
   * Once the upload is complete to the external service, you must call the POST
   * /complete-external-upload route using the unique identifier returned by this
   * route, which will create any required Upload record in the Discourse database
   * and also move file from its temporary location to the final destination in the
   * external storage service.
   *
   * You must have the correct permissions and CORS settings configured in your
   * external provider. We support AWS S3 as the default. See:
   *
   * https://meta.discourse.org/t/-/210469#s3-multipart-direct-uploads-4.
   *
   * An external file store must be set up and `enable_direct_s3_uploads` must be set
   * to true for this endpoint to function.
   *
   * @example
   * ```ts
   * const response = await client.uploads.generatePresignedPut({
   *   file_name: 'IMG_2021.jpeg',
   *   file_size: 4096,
   *   type: 'avatar',
   * });
   * ```
   */
  generatePresignedPut(
    body: UploadGeneratePresignedPutParams,
    options?: RequestOptions,
  ): APIPromise<UploadGeneratePresignedPutResponse> {
    return this._client.post('/uploads/generate-presigned-put.json', { body, ...options });
  }
}

export interface UploadAbortMultipartResponse {
  success: string;
}

export interface UploadBatchPresignMultipartPartsResponse {
  /**
   * The presigned URLs for each part number, which has the part numbers as keys.
   */
  presigned_urls: unknown;
}

export interface UploadCompleteExternalUploadResponse {
  id: number;

  extension: string;

  filesize: number;

  height: number;

  human_filesize: string;

  original_filename: string;

  retain_hours: string | null;

  short_path: string;

  short_url: string;

  thumbnail_height: number;

  thumbnail_width: number;

  url: string;

  width: number;

  dominant_color?: string | null;

  thumbnail?: UploadCompleteExternalUploadResponse.Thumbnail | null;
}

export namespace UploadCompleteExternalUploadResponse {
  export interface Thumbnail {
    id?: number;

    extension?: string;

    filesize?: number;

    height?: number;

    upload_id?: number;

    url?: string;

    width?: number;
  }
}

export interface UploadCompleteMultipartResponse {
  id: number;

  extension: string;

  filesize: number;

  height: number;

  human_filesize: string;

  original_filename: string;

  retain_hours: string | null;

  short_path: string;

  short_url: string;

  thumbnail_height: number;

  thumbnail_width: number;

  url: string;

  width: number;

  dominant_color?: string | null;

  thumbnail?: UploadCompleteMultipartResponse.Thumbnail | null;
}

export namespace UploadCompleteMultipartResponse {
  export interface Thumbnail {
    id?: number;

    extension?: string;

    filesize?: number;

    height?: number;

    upload_id?: number;

    url?: string;

    width?: number;
  }
}

export interface UploadCreateMultipartResponse {
  /**
   * The identifier of the multipart upload in the external storage provider. This is
   * the multipart upload_id in AWS S3.
   */
  external_upload_identifier: string;

  /**
   * The path of the temporary file on the external storage service.
   */
  key: string;

  /**
   * A unique string that identifies the external upload. This must be stored and
   * then sent in the /complete-multipart and /batch-presign-multipart-parts
   * endpoints.
   */
  unique_identifier: string;
}

export interface UploadGeneratePresignedPutResponse {
  /**
   * The path of the temporary file on the external storage service.
   */
  key?: string;

  /**
   * A map of headers that must be sent with the PUT request.
   */
  signed_headers?: unknown;

  /**
   * A unique string that identifies the external upload. This must be stored and
   * then sent in the /complete-external-upload endpoint to complete the direct
   * upload.
   */
  unique_identifier?: string;

  /**
   * A presigned PUT URL which must be used to upload the file binary blob to.
   */
  url?: string;
}

export interface UploadAbortMultipartParams {
  /**
   * The identifier of the multipart upload in the external storage provider. This is
   * the multipart upload_id in AWS S3.
   */
  external_upload_identifier: string;
}

export interface UploadBatchPresignMultipartPartsParams {
  /**
   * The part numbers to generate the presigned URLs for, must be between 1
   * and 10000.
   */
  part_numbers: Array<unknown>;

  /**
   * The unique identifier returned in the original /create-multipart request.
   */
  unique_identifier: string;
}

export interface UploadCompleteExternalUploadParams {
  /**
   * The unique identifier returned in the original /generate-presigned-put request.
   */
  unique_identifier: string;

  /**
   * Optionally set this to true if the upload is for a private message.
   */
  for_private_message?: string;

  /**
   * Optionally set this to true if the upload is for a site setting.
   */
  for_site_setting?: string;

  /**
   * Optionally set this to true if the upload was pasted into the upload area. This
   * will convert PNG files to JPEG.
   */
  pasted?: string;
}

export interface UploadCompleteMultipartParams {
  /**
   * All of the part numbers and their corresponding ETags that have been uploaded
   * must be provided.
   */
  parts: Array<unknown>;

  /**
   * The unique identifier returned in the original /create-multipart request.
   */
  unique_identifier: string;
}

export interface UploadCreateMultipartParams {
  file_name: string;

  /**
   * File size should be represented in bytes.
   */
  file_size: number;

  upload_type: 'avatar' | 'profile_background' | 'card_background' | 'custom_emoji' | 'composer';

  metadata?: UploadCreateMultipartParams.Metadata;
}

export namespace UploadCreateMultipartParams {
  export interface Metadata {
    /**
     * The SHA1 checksum of the upload binary blob. Optionally be provided and serves
     * as an additional security check when later processing the file in
     * complete-external-upload endpoint.
     */
    'sha1-checksum'?: string;
  }
}

export interface UploadGeneratePresignedPutParams {
  file_name: string;

  /**
   * File size should be represented in bytes.
   */
  file_size: number;

  type: 'avatar' | 'profile_background' | 'card_background' | 'custom_emoji' | 'composer';

  metadata?: UploadGeneratePresignedPutParams.Metadata;
}

export namespace UploadGeneratePresignedPutParams {
  export interface Metadata {
    /**
     * The SHA1 checksum of the upload binary blob. Optionally be provided and serves
     * as an additional security check when later processing the file in
     * complete-external-upload endpoint.
     */
    'sha1-checksum'?: string;
  }
}

export declare namespace Uploads {
  export {
    type UploadAbortMultipartResponse as UploadAbortMultipartResponse,
    type UploadBatchPresignMultipartPartsResponse as UploadBatchPresignMultipartPartsResponse,
    type UploadCompleteExternalUploadResponse as UploadCompleteExternalUploadResponse,
    type UploadCompleteMultipartResponse as UploadCompleteMultipartResponse,
    type UploadCreateMultipartResponse as UploadCreateMultipartResponse,
    type UploadGeneratePresignedPutResponse as UploadGeneratePresignedPutResponse,
    type UploadAbortMultipartParams as UploadAbortMultipartParams,
    type UploadBatchPresignMultipartPartsParams as UploadBatchPresignMultipartPartsParams,
    type UploadCompleteExternalUploadParams as UploadCompleteExternalUploadParams,
    type UploadCompleteMultipartParams as UploadCompleteMultipartParams,
    type UploadCreateMultipartParams as UploadCreateMultipartParams,
    type UploadGeneratePresignedPutParams as UploadGeneratePresignedPutParams,
  };
}
